.container {  display: grid;
    position: relative;
    grid-template-columns: 6.3fr 5fr 3.2fr 6.7fr 2.7fr;
    grid-template-rows: 0.5fr 0.6fr 0.6fr 0.7fr 3.1fr 0.8fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
      "title resources resources c c"
      "title resources resources energy_display energy_display"
      "particle_display resources resources energy_display energy_display"
      "particle_display particle_shop milestone_upgrades milestone_upgrades settings"
      "particle_display particle_shop relativity relativity prestige1"
      "b_border b_border b_border b_border b_border";
  }
  
  #c { grid-area: c; 
    background-color: #b8c78e;
    border: 8px groove #869167;
    align-items: center;
    font-size: 4vmin; 
    font-family:'Courier New', Courier, monospace;
}
  
  .title { grid-area: title; 
    background-color: #5fb7ff;
    border: 8px groove #417dad;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin; 
    font-family:'Courier New', Courier, monospace;
}
  
  .resources { grid-area: resources; 
    background-color: #17a57a;
    border: 8px groove #0f644b;
    /* min-width: 3vw; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin; 
    font-family:'Courier New', Courier, monospace;
    position: relative;
    text-align: center;

    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      ". formula ."
      "energy_p energy_p energy_p";
}

#energy { grid-area: energy_p

}

#energyform { grid-area: formula;
  background-color: #17a53a;
    border: 8px groove #107429;
}
  
  .energy_display { grid-area: energy_display; 
    position: relative;
    background-color: #17a59e;
    border: 8px groove #107a75;
    align-items: left;
    line-height: 1.7vmin;
    font-size: 1.7vmin; 
    overflow-y: scroll;
    font-family:'Courier New', Courier, monospace;
    padding-left: 1%;

    display: grid;
    grid-auto-columns: 1fr;
    column-gap: 5%;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      ". . .";
  }

  #relTitle {
    font-size: 3.5cqmin;
  }

  .relSubtitle {
    font-size: 2cqmin;
  }

  #relativityData {
    grid-area: relativity; 
    position: relative;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 2vmin;
    font-family:'Courier New', Courier, monospace;

    display: grid;
    width:100%;
    height:100%;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "."
      "."
      "."
      ".";
  }
  #lockedRelativity {
    grid-area: relativity; 
    position: relative;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 4vmin;
    font-family:'Courier New', Courier, monospace;
    font-size: 4vmin;
    top: 50%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
  }
  .settings { grid-area: settings; 
    background-color: #505050;
    border: 8px groove #363636;
}

  #prestige1 { grid-area: prestige1; 
    background-color: #a81919;
    border: 8px groove #6b0f0f;
    overflow-y: scroll;
  }
  
  #particle_shop { grid-area: particle_shop; 
    background-color: #545894;
    border: 8px groove #484b81;
    display:grid;
    grid-auto-columns: 1fr;
    overflow: scroll;
  }
  
  .relativity { grid-area: relativity; 
    background-color: #ff5429;
    border: 8px groove #943017;
}
  
  #b_border { grid-area: b_border; 
    background-color: #547094;
    border: 8px groove #3d526d;
    display:block;
    overflow-y: scroll;
}

  html, body , .container, #final {
    height: 100%;
    margin: 0;
    background-color:#111529;
  }

  html {
    min-width: 680px;
    min-height: 440px;
  }

#particle_display {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    grid-area: particle_display;
    justify-self: center;
}
#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  background:rgb(0, 0, 0);
}
#energy_display {
    display: block;
    position:fixed;
    border-style:solid;
    height:200px;
    width:500px;
    background:rgb(0, 0, 0);
    position:relative;
    margin-right: auto;
    border-radius: 5px;
    display:inline-block;
}
.dot {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px #fff;
    z-index: 1;
    position: absolute;
    grid-area: particle_display;
    -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.particle {
    transform-origin: top left;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    grid-area: particle_display;
}
.particle_shop_button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    margin-left: 0%;
    color: #474747;
    text-shadow: 1px 1px 1px #000;
    min-height: 125px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px;
    transform-origin: 100;
}
#milestone_upgrades {
    overflow:auto;
    background-color: hwb(34 38% 25%);
    border:8px solid hwb(34 26% 41%);
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    grid-area: milestone_upgrades;
}
.milestone_button {
    border-width: 5px;
    border-color: #ffc40060;
    border-style: groove;
    line-height: 1;
    position:relative;
    padding: 2px 20px;
    font-size: 0.8em;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    color: #353535;
    text-shadow: 1px 1px 1px #000;
    height:90%;
    width:18%;
}
.hoverable {
    display: none;
}
.milestone_button:hover + .hoverable {
    transform: translate(-50%, -120%);
    display: block;
    position: fixed;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width:350px;
    min-width:170px;
    background:rgb(155, 155, 155);
    margin-left: 0px;
    margin-right: 0px;
    border-width: 4px;
    border-color: rgb(116, 116, 116);
    border-style: ridge;
    z-index: 1;
    text-align:center;
}
.prestige_button { grid-area: prestige1;
  border-width: 5px;
    border-color: #ffc40060;
    border-style: groove;
    position:relative;
    font-size: 0.8em;
    text-align: center;
    line-height: 20px;
    float: center;
    justify-content: center;
    display: flex;
    margin-top: 3.3%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #353535;
    text-shadow: 1px 1px 1px #000;
    height:31%;
    width:90%;
}
.prestige_button:hover + .hoverable {
  transform: translate(-50%, -120%);
  display: block;
  position: fixed;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width:350px;
  min-width:170px;
  background:rgb(155, 155, 155);
  margin-left: 0px;
  margin-right: 0px;
  border-width: 4px;
  border-color: rgb(116, 116, 116);
  border-style: ridge;
  z-index: 1;
  text-align:center;
}
.prestige2_button { grid-area: border_b;
  border-width: 5px;
    border-color: #ffc40060;
    border-style: groove;
    line-height: 1;
    position:relative;
    padding: 2px 20px;
    font-size: 0.8em;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 1vmin;
    color: #353535;
    text-shadow: 1px 1px 1px #000;
    height:90%;
    width: 19%;
}
.prestige2_button:hover + .hoverable {
  transform: translate(-50%, -120%);
  display: block;
  position: fixed;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width:350px;
  min-width:170px;
  background:rgb(155, 155, 155);
  margin-left: 0px;
  margin-right: 0px;
  border-width: 4px;
  border-color: rgb(116, 116, 116);
  border-style: ridge;
  z-index: 1;
  text-align:center;
}
.particle_shop_button:hover + .hoverable {
    transform: translate(0%, -50%);
    display: block;
    position: fixed;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
    max-width:350px;
    min-width: 20px;
    height: 29px;
    background:rgb(155, 155, 155);
    border-width: 4px;
    border-color: rgb(116, 116, 116);
    border-style: ridge;
    z-index: 1;
    white-space: nowrap;
}
.img {
    position:absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.static_particle {
    transform-origin: top left;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    border-radius: 50%;
    float: top;
}
.p_shop_hover_text {
    padding-top: 20px;
}
#final {
  position: relative;
  background-color: #3f82c2;
    text-align: center;
    line-height: 4vmin;
    font-size: 4vmin;
    font-family:'Courier New', Courier, monospace;
    
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 8fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "grid1 grid1 grid1"
      "grid2 grid2 grid2"
      "grid3 grid3 grid3"
      ". grid4 .";
}
#finalTitle { grid-area: grid1;
  padding: 5vmin;
  white-space: normal;
}
#finalDesc {grid-area: grid2;
  padding: 5vmin;
  white-space: normal;
}
#finalInfo {grid-area: grid3;
  padding: 5vmin;
  white-space: normal;
}
#finalButton {grid-area: grid4;
  height:80%;
  width:100%;
  padding: 2vmin;
  font-size: 4vmin;
  border-radius: 1px;
  border-width: 5px;
  border-style: solid;
  border-color: #000;
}